In [1]:
#1.파이썬이란 무엇인가?
if 4 in [1,2,3,4]: print("4가 있습니다")

4가 있습니다

In [5]:
#simple.py
languages = ['python','perl','c','java']

for lang in languages:
    if lang in ['python','perl']:
        print("%6s need interpreter" % lang)
    elif lang in ['c','java']:
        print("%6s need compiler" % lang)
    else:
        print("should not reach herer")

python need interpreter
  perl need interpreter
     c need compiler
  java need compiler

In [6]:
1+2

3

In [7]:
3/2.4

1.25

In [8]:
3*9

27

In [9]:
a=1
b=2
a+b

3

In [10]:
a="Python"
print(a)

Python

In [11]:
a=2+3j
b=3
a*b

(6+9j)

In [14]:
a=3
if a>1:
    print("a is greater than 1")

a is greater than 1

In [15]:
for a in [1,2,3]:
    print(a)

1
2
3

In [16]:
i=0
while i<3:
    i=i+1
    print(i)

1
2
3

In [18]:
def sum(a,b):
    return a+b

print(sum(3,4))

7

In [19]:
#hello.py
print("Hello world")

Hello world

In [20]:
"""
Author:EungYong Park
Date:2016-01-01
이 프로그램은 Hello World를 출력하는 프로그램이다.
"""

'\nAuthor:EungYong Park\nDate:2016-01-01\n이 프로그램은 Hello World를 출력하는 프로그램이다.\n'

In [2]:
#파이썬 프로그래밍의 기초,자료형
#숫자형
a=1+2j
a.real

1.0

In [3]:
a.imag

2.0

In [4]:
a.conjugate()

(1-2j)

In [5]:
abs(a)

2.23606797749979

In [6]:
a=3
b=4
a+b

7

In [7]:
a*b

12

In [8]:
a/b

0.75

In [10]:
a**b

81

In [11]:
7%3

1

In [12]:
3%7

3

In [13]:
7/4

1.75

In [14]:
7//4

1

In [15]:
#문자열자료형
"Life is too short, You need Python"

'Life is too short, You need Python'

In [16]:
'Life is too short, You need Python'

'Life is too short, You need Python'

In [17]:
"""Life is too short, You need Python"""

'Life is too short, You need Python'

In [18]:
'''Life is too short, You need Python'''

'Life is too short, You need Python'

In [1]:
food="Python's favorite food is perl"
food

"Python's favorite food is perl"

In [23]:
say = '"Python is very easy." he says.'
say

'"Python is very easy." he says.'

In [27]:
food='Python\'s favorite food is perl'
say="\"Python is very easy.\" he says."
print(food)
print(say)

Python's favorite food is perl
"Python is very easy." he says.

In [11]:
multiline="Life is too short\nYou need python"
print(multiline)

Life is too short
You need python

In [9]:
multiline='''
   Life is too short
   You need python
   '''
print(multiline)

   Life is too short
   You need python

In [13]:
#문자열연산
head="Python"
tail=" is fun!"
head+tail

'Python is fun!'

In [15]:
a="python"
a*2

'pythonpython'

In [17]:
print("="*50)
print("My Program")
print("="*50)

==================================================
My Program
==================================================

In [19]:
a="Life is too short, You need Python"
a[3]

'e'

In [20]:
a[-2]

'o'

In [21]:
a[0]

'L'

In [23]:
a[0:4]

'Life'

In [24]:
a="20010331Rainy"
year=a[:4]
day=a[4:8]
weather=a[8:]
print(year)
print(day)
print(weather)

2001
0331
Rainy

In [25]:
a="Pithon"
a[1]

'i'

In [27]:
a[:1]

'P'

In [28]:
a[2:]

'thon'

In [29]:
a[:1]+'y'+a[2:]

'Python'

In [30]:
"I eat %d apples" %3

'I eat 3 apples'

In [31]:
"I eat %s apples" %"five"

'I eat five apples'

In [32]:
number=3
"I eat %d apples." %number

'I eat 3 apples.'

In [33]:
number=10
day="three"
"I ate %d apples. so I was sick for %s days."%(number,day)

'I ate 10 apples. so I was sick for three days.'

In [34]:
"%10s"%"hi"

'        hi'

In [35]:
"%-10sjane."%'hi'

'hi        jane.'

In [36]:
"%0.4f"%3.42134234

'3.4213'

In [37]:
"%10.4f"%3.42134234

'    3.4213'

In [38]:
#문자열관련함수
a="hobby"
a.count('b')

2

In [39]:
a="Python is best choice"
a.find('b')

10

In [40]:
a.find('k')

-1

In [41]:
a="Life is too short"
a.index('t')

8

In [42]:
a.index('k')

ValueError: substring not found

In [43]:
a=","
a.join('abcd')

'a,b,c,d'

In [44]:
a="hi"
a.upper()

'HI'

In [45]:
a="HI"
a.lower()

'hi'

In [46]:
a=" hi "
a.lstrip()

'hi '

In [47]:
a=" hi "
a.rstrip()

' hi'

In [48]:
a=" hi "
a.strip()

'hi'

In [49]:
a="Life is too short"
a.replace("Life","Your leg")

'Your leg is too short'

In [50]:
a="Life is too short"
a.split()

['Life', 'is', 'too', 'short']

In [51]:
a="a:b:c:d"
a.split(":")

['a', 'b', 'c', 'd']

In [52]:
#고급문자열포매팅
"I eat {0} apples".format(3)

'I eat 3 apples'

In [53]:
"I eat {0} apples".format("five")

'I eat five apples'

In [54]:
number=3
"I eat {0} apples".format(number)

'I eat 3 apples'

In [55]:
number=10
day="three"
"I ate {0} apples. so I was sick for {1} days.".format(number,day)

'I ate 10 apples. so I was sick for three days.'

In [57]:
"I ate {number} apples. so I was sick for {day} days.".format(number=10, day=3)

'I ate 10 apples. so I was sick for 3 days.'

In [58]:
"I ate {0} apples. so I was sick for {day} days.".format(10,day=3)

'I ate 10 apples. so I was sick for 3 days.'

In [2]:
"{0:<10}".format("hi")

'hi        '

In [3]:
"{0:>10}".format("hi")

'        hi'

In [4]:
"{0:^10}".format("hi")

'    hi    '

In [5]:
"{0:=^10}".format("hi")

'====hi===='

In [7]:
"{0:!<10}".format("hi")

'hi!!!!!!!!'

In [8]:
y=3.42134234
"{0:0.4f}".format(y)

'3.4213'

In [9]:
y=3.42134234
"{0:10.4f}".format(y)

'    3.4213'

In [10]:
"{{ and }}".format()

'{ and }'

In [11]:
#리스트자료형
odd=[1,3,5,7,9]
odd

[1, 3, 5, 7, 9]

In [12]:
a=[]
b=[1,2,3]
c=["Life","is","too","short"]
d=[1,2,"Life","is"]
e=[1,2,["Life","is"]]

In [13]:
a=[1,2,3]
a

[1, 2, 3]

In [14]:
a[0]

1

In [15]:
a[0]+a[2]

4

In [16]:
a[-1]

3

In [18]:
a=[1,2,3,['a','b','c']]
a[0]

1

In [19]:
a[-1]

['a', 'b', 'c']

In [20]:
a[3]

['a', 'b', 'c']

In [21]:
a[-1][0]

'a'

In [22]:
a[-1][1]

'b'

In [23]:
a[-1][2]

'c'

In [24]:
a=[1,2,['a','b',['Life','is']]]
a[2][2][0]

'Life'

In [26]:
a=[1,2,3,4,5]
a[0:2]

[1, 2]

In [27]:
a="12345"
a[0:2]

'12'

In [29]:
a=[1,2,3,4,5]
b=a[:2]
c=a[2:]
print(b)
print(c)

[1, 2]
[3, 4, 5]

In [30]:
a=[1,2,3,['a','b','c'],4,5]
print(a[2:5])
print(a[3][:2])

[3, ['a', 'b', 'c'], 4]
['a', 'b']

In [31]:
a=[1,2,3]
b=[4,5,6]
a+b

[1, 2, 3, 4, 5, 6]

In [32]:
a=[1,2,3]
a*3

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [33]:
a=[1,2,3]
a[2]+"hi"

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [34]:
str(a[2])+"hi"

'3hi'

In [35]:
a=[1,2,3]
a[2]=4
a

[1, 2, 4]

In [37]:
a[1:2]

[2]

In [41]:
a=[1,2,4]
a[1:2]=['a','b','c']
a

[1, 'a', 'b', 'c', 4]

In [40]:
b=[1,2,4]
b[1]=['a','b','c']
b

[1, ['a', 'b', 'c'], 4]

In [42]:
a[1:3]=[]
a

[1, 'c', 4]

In [43]:
del a[1]
a

[1, 4]

In [44]:
a=[1,2,3]
a.append(4)
a

[1, 2, 3, 4]

In [45]:
a.append([5,6])
a

[1, 2, 3, 4, [5, 6]]

In [47]:
a=[1,4,3,2]
a.sort()
a

[1, 2, 3, 4]

In [50]:
a=['a','c','b']
a.sort()
a

['a', 'b', 'c']

In [51]:
a=['a','c','b']
a.reverse()
a

['b', 'c', 'a']

In [52]:
a=[1,2,3]
print(a.index(3))
print(a.index(1))
print(a.index(0))

2
0

ValueError: 0 is not in list

In [3]:
a=[4,1,2,3]
a.insert(3,5)
a

[4, 1, 2, 5, 3]

In [4]:
a=[1,2,3,1,2,3]
a.remove(3)
a

[1, 2, 1, 2, 3]

In [6]:
a=[1,2,3]
a.pop()

3

In [7]:
a

[1, 2]

In [8]:
a=[1,2,3]
a.pop(1)

2

In [9]:
a

[1, 3]

In [10]:
a=[1,2,3,1]
a.count(1)

2

In [13]:
a=[1,2,3]
a.extend([4,5])
a

[1, 2, 3, 4, 5]

In [14]:
b=[6,7]
a.extend(b)
a

[1, 2, 3, 4, 5, 6, 7]

In [ ]:
#튜플자료형

In [17]:
t1=()
t2=(1,)
t3=(1,2,3)
t4=1,2,3
t5=('a','b',('ab','cd'))

In [18]:
del t1[0]

TypeError: 'tuple' object doesn't support item deletion

In [19]:
t1=(1,2,'a','b')
t1[0]='c'

TypeError: 'tuple' object does not support item assignment

In [21]:
t1=(1,2,'a','b')
t1[3]

'b'

In [22]:
t1=(1,2,'a','b')
t1[1:]

(2, 'a', 'b')

In [23]:
t2=(3,4)
t1+t2

(1, 2, 'a', 'b', 3, 4)

In [24]:
t2*3

(3, 4, 3, 4, 3, 4)

In [ ]:
#딕셔너리자료형

In [25]:
dic={'name':'boseon','phone':'01093996073','birth':'0104'}
dic

{'birth': '0104', 'name': 'boseon', 'phone': '01093996073'}

In [26]:
a={1:'hi'}
a

{1: 'hi'}

In [2]:
a={1:'a'}
a[2]='b'
a

{1: 'a', 2: 'b'}

In [3]:
a['name']='boseon'
a

{1: 'a', 2: 'b', 'name': 'boseon'}

In [4]:
a[3]=[1,2,3]
a

{1: 'a', 2: 'b', 3: [1, 2, 3], 'name': 'boseon'}

In [6]:
a[4] = ["김보선"]
a

{1: 'a', 2: 'b', 3: [1, 2, 3], 4: ['김보선'], 'name': 'boseon'}

In [7]:
a['4'] = ["김보선"]
a

{1: 'a', 2: 'b', 3: [1, 2, 3], 4: ['김보선'], '4': ['김보선'], 'name': 'boseon'}

In [8]:
a.items()

dict_items([(1, 'a'), (2, 'b'), ('name', 'boseon'), (3, [1, 2, 3]), (4, ['김보선']), ('4', ['김보선'])])

In [9]:
sorted_a = sorted(a.items())
#문자는문자끼리,숫자는숫자끼리

TypeError: '<' not supported between instances of 'str' and 'int'

In [13]:
a = {'b':'w','a':'z',1:[4],2:[7]}
a_r = sorted(a.items())
a_r

TypeError: '<' not supported between instances of 'int' and 'str'

In [15]:
b = {2:[7],1:[4]}
b_r = sorted(b.items())
b_r

[(1, [4]), (2, [7])]

In [18]:
a = {'b':'w','a':'z',1:[4],2:[7]}
a_r = list(a)
a_r = a_r.sort()
#문자는문자끼리,숫자는숫자끼리

TypeError: '<' not supported between instances of 'int' and 'str'

In [19]:
del a[1]
a

{2: [7], 'a': 'z', 'b': 'w'}

In [20]:
grade={'pey':10,'julliet':99}
grade['pey']

10

In [21]:
grade['julliet']

99

In [22]:
a={1:'a',2:'b'}
print(a[1])
print(a[2])

a
b

In [1]:
a={'a':1,'b':2}
print(a['a'])
print(a['b'])

1
2

In [2]:
dic={'name':'pey','phone':'01199933323','birth':'1118'}
print(dic['name'])
print(dic['phone'])
print(dic['birth'])

pey
01199933323
1118

In [3]:
a={1:'a',1:'b'}
a

{1: 'b'}

In [4]:
a={[1,2]:'hi'}
a

TypeError: unhashable type: 'list'

In [5]:
a={(1,2):'hi'}
a

{(1, 2): 'hi'}

In [6]:
a={'name':'boseon','phone':'01093996073','birth':'0104'}
a.keys()

dict_keys(['name', 'phone', 'birth'])

In [12]:
for k in a.keys():
    print(k)

name
phone
birth

In [13]:
list(a.keys())

['name', 'phone', 'birth']

In [14]:
a.values()

dict_values(['boseon', '01093996073', '0104'])

In [15]:
a.items()

dict_items([('name', 'boseon'), ('phone', '01093996073'), ('birth', '0104')])

In [17]:
a.clear()
a

{}

In [3]:
a={'name':'boseon','phone':'01093996073','birth':'0104'}
a.get('name')

'boseon'

In [4]:
a.get('phone')

'01093996073'

In [5]:
a.get('nokey')

In [6]:
a.values()

dict_values(['boseon', '01093996073', '0104'])

In [7]:
a.items()

dict_items([('name', 'boseon'), ('phone', '01093996073'), ('birth', '0104')])

In [9]:
a.clear()
a

{}

In [10]:
a={'name':'boseon','phone':'01093996073','birth':'0104'}
a.get('name')

'boseon'

In [11]:
a.get('nokey')

In [12]:
a['nokey']

KeyError: 'nokey'

In [13]:
a.get('foo','bar')

'bar'

In [14]:
a={'name':'boseon','phone':'01093996073','birth':'0104'}
'name' in a

True

In [15]:
'email' in a

False

In [2]:
#집합자료형

In [3]:
s1=set([1,2,3])
s1

{1, 2, 3}

In [4]:
s2=set("Hello")
s2

{'H', 'e', 'l', 'o'}

In [5]:
s1=set([1,2,3])
l1=list(s1)
l1

[1, 2, 3]

In [6]:
l1[0]

1

In [7]:
s1[0]

TypeError: 'set' object does not support indexing

In [8]:
t1=tuple(s1)
t1

(1, 2, 3)

In [9]:
t1[0]

1

In [10]:
s1=set([1,2,3,4,5,6])
s2=set([4,5,6,7,8,9])
s1&s2

{4, 5, 6}

In [11]:
s1.intersection(s2)

{4, 5, 6}

In [15]:
s1|s2

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [16]:
s1.union(s2)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [18]:
s1-s2

{1, 2, 3}

In [19]:
s2-s1

{7, 8, 9}

In [20]:
s1.difference(s2)

{1, 2, 3}

In [21]:
s2.difference(s1)

{7, 8, 9}

In [23]:
s1=set([1,2,3])
s1.add(4)
s1

{1, 2, 3, 4}

In [25]:
s1=set([1,2,3])
s1.update([4,5,6])
s1

{1, 2, 3, 4, 5, 6}

In [26]:
s1=set([1,2,3])
s1.remove(2)
s1

{1, 3}

In [ ]:
#자료형의 참과 거짓

In [31]:
"""
a가 참인 동안
리스트의 마지막 요소를 하나씩 꺼낸다.
"""

a=[1,2,3,4]
while a:
    a.pop()

In [38]:
"""
[]가 참이면 "True" 문자열 출력
[]가 거짓이면 "False" 문자열 출력
"""

if []:
    print("True")
else: 
    print("False")

False

In [39]:
if [1,2,3]:
    print("True")
else:
    print("False")

True

In [ ]:
#자료형의 값을 저장하는 공간,변수

In [40]:
a=1
b="python"
c=[1,2,3]

In [42]:
a=3
type(3)

int

In [43]:
a=3
b=3
a is b

True

In [44]:
import sys
sys.getrefcount(3)

808

In [45]:
a=3
sys.getrefcount(3)

809

In [48]:
d=3
sys.getrefcount(3)

810

In [49]:
e=3
sys.getrefcount(3)

811

In [57]:
a,b=('python','life')
print(a)
print(b)

python
life

In [53]:
a,b='python','life'
print(a,b)

python life

In [54]:
[a,b]=['python','life']
print(a,b)

python life

In [55]:
a=b='python'

In [56]:
a=5
b=3
a,b=b,a
print(a)
print(b)

3
5

In [58]:
a=3
b=3
del(a)
del(b)

In [59]:
sys.getrefcount(3)

808

In [60]:
a=[1,2,3]
b=a
a[1]=4
print(a)
print(b)

[1, 4, 3]
[1, 4, 3]

In [61]:
a=[1,2,3]
b=a[:]
a[1]=4
print(a)
print(b)

[1, 4, 3]
[1, 2, 3]

In [63]:
a=[1,2,3]
from copy import copy
b=copy(a)
a[1]=4
print(a)
print(b)

[1, 4, 3]
[1, 2, 3]

In [2]:
#연습문제
#문자열Q1.
pin="881120-1068234"
yyyymmdd=pin[:6]
num=pin[7:]
print(yyyymmdd)
print(num)

881120
1068234

In [4]:
#문자열Q2.
pin="881120-1068234"
print(pin[7])

1

In [6]:
#리스트Q1.
a=[1,3,5,4,2]
a.sort()
a.reverse()
print(a)

[5, 4, 3, 2, 1]

In [7]:
#리스트 Q2.
a=['Life','is','too','short']
result=" ".join(a)
print(result)

Life is too short

In [10]:
#튜플 Q1.
a=(1,2,3)
a=a+(4,)
print(a)

(1, 2, 3, 4)

In [16]:
a={1:'a'}
a[2]='b'
a

{1: 'a', 2: 'b'}

In [19]:
del a[1]
a

{2: 'b'}

In [21]:
#딕셔너리 Q1.
a={'A':90,'B':80,'C':70}
result=a.pop('B')
print(a)
print(result)

{'A': 90, 'C': 70}
80

In [22]:
#집합 Q1.
a=[1,1,1,2,2,3,3,3,4,4,5]
aSet=set(a)
b=list(aSet)
print(b)

[1, 2, 3, 4, 5]

In [23]:
#변수 Q1.
a=b=[1,2,3]
a[1]=4
print(b)

[1, 4, 3]